.menu-button {
    position: fixed;
    top: calc(env(safe-area-inset-top) + 12px);
    right: 16px;

    background: transparent;
    border: none;
    color: var(--text);
    font-size: 1.6rem;
    border-radius: 10px;
    padding: 6px 10px;
}

.menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(6px);
    z-index: 100;
}

.menu-overlay.hidden {
    display: none;
}

